
body {
      background-color: black;
      color: white;
      font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

h2 {
      text-align: center;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
tr.headers{
      font-weight: bold;
      color: white;
	text-align: center;
      
}
tr a.active{
      color: purple;
}
tr a:hover:not(.active) {
      color: purple;
}
.saturn {
	display: block;
	width: 100px;
	height: 100px;
	background: url('saturn.jpg') bottom;
	color: white;
}
.saturn:hover {
	background-position: 0 0;
}

.mars {
	display: block;
	width: 100px;
	height: 100px;
	background: url('mars.jpg') bottom;
	color: white;
}
.mars:hover {
	background-position: 0 0;
}

.neptune {
	display: block;
	width: 100px;
	height: 100px;
	background: url('Neptune.jpg') bottom;
	color: white;
}
.neptune:hover {
	background-position: 0 0;
}

.uranus {
	width: 100px;
	height: 100px;
	background: url('Uranus.jpg') bottom;
	text-indent: -99999px;
	color:white;
}
.uranus:hover {
	background-position: 0 0;
}
